PORT=3000
MONGODB_URI=your-mongodb-link

JWT_EXPIRES_IN=your-jwt-duration
JWT_REFRESH_SECRET=your-jwt-secret
JWT_REFRESH_EXPIRES_IN=your-refresh-duration-for-jwt
JWT_SECRET=your-jwt-secret

FRONTEND_URL=your-frontend-api

EMAIL_USER=your-email
EMAIL_PASS=your-email-app-password

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_FROM=your-email

CLOUDINARY_CLOUD_NAME=your-CLOUDINARY-project-name
CLOUDINARY_API_KEY=your-CLOUDINARY-api-key
CLOUDINARY_API_SECRET=your-CLOUDINARY-api-secret

